.nav-bar{
    background-color: #FFFFFF;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    right:0;
    width: 1440 px;
    height: 70px;
    opacity: 1;
    margin-left: 175px;
}
.text{
    width: 242px;
    height: 34px;
    margin-top: 23px;
    left: 290px;
    opacity: 1;
    font-family: Inter;
    font-weight: 600;
    font-size: 23px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #343C6A;
    margin-left: 25px;
}
