.Side-bar {
    background-color: white; 
    margin: 0;
    width: 175px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.buttons {
    background: none;
    border: none;
    padding: 10px;
    margin-top: 100px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.button-transfer{
    background: none;
    border: none;
    padding: 10px;
    margin: 20px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
}
.button-transfe:hover{
    cursor: pointer;
    background-color: #1814F3;
}

.button img {
    width: 10px; 
    height: 10px;
}
.home-button{
    display: flex;
    justify-content: right;
}
.button-text{
    margin-left: 40px;
    width: 51;
height: 22;
top: 133px;
left: 95px;
opacity: 1;
font-family: Inter;
font-weight: 500;
font-size: 15px;
line-height: 100%;
letter-spacing: 0%;
}
.button-text:hover{
    color: #1814F3;

}
.button-text2{
    margin-left: 30px;
    width: 51px;
height: 22px;
top: 133px;
left: 95px;
opacity: 1;
font-family: Inter;
font-weight: 500;
font-size: 15px;
line-height: 100%;
letter-spacing: 0%;
margin-right: 10px;
}
.button-text2:hover{
    color: #1814F3;

}